@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper{
  width: 100%;
  margin: 5px;
}
header .header-top{
  display: flex;
  justify-content: space-around;
  background-color: #1a3467;
  padding-top: 20px;
  padding-bottom: 38px;
  background-image: linear-gradient(to right ,#105091,#0F4f91,#1a3467);
}
.search {
  margin-right:45px;
  margin-bottom: 3px;
}
.header-top input {
  margin-top: 15px;
  width: 173px;
  height: 29px;
  align-items: center;
}

.header-top input[type="search"]::placeholder{
  padding-left: 10px;
  font-size: 11px;
}
.header-top button{
  padding:7px;
  float: right;
  margin-top: 15px;
  border:#269FE3 ;
  background-color: #269FE3;
  color: white;
  cursor: pointer;
}
.header-bottom {
  display: flex;
 height: 26px;
  background-image: linear-gradient(to right,#218fd4,#186fb9,#1563AE,#176BB5,#218fd4);
  font-size: 12px;
  align-items: center;
  padding-top: 5px;
}
.header-bottom a{
  text-decoration: none;
  color:#b5bec6;
}
.header-bottom .nav-links {
  margin-left: 170px;
  padding-left: 60px;
  padding-bottom:5px ;
  
}
.nav-bar .nav-links li {
  padding-right: 10px;
  border-right: 1px solid #b5bec6;
}
.nav-bar .nav-links :hover{
  color: aliceblue;
  background: #1563AE;
}

.hamburger{
  display: none;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section starts */
.banner {
  width: 70%;
  margin-left:196px;
  width :677px;
  height: 220px;
  position: relative;
  border-bottom: 1px solid gray;
}
.banner .wrapper{
  display: flex;
  margin-top: 20px;
  border: 1px solid #666;
  width :677px;
  height: 198px;
  margin-bottom: 5px;
  
 
}
.banner-headlines{
  flex-basis: 50%;
  padding-right: 5px;
}
.banner-image{
  flex-basis: 50%;
}

 .banner-headlines a{
  text-decoration: none;
  color: #70728E;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
}

 .banner-headlines h2 a{
  color:#1563AE;
  padding-top: 10px;
  font-size: 20px;
  letter-spacing: 1px;
}
 .banner-headlines .date{
  padding-top: 5px;
  color: #70728E;
  padding-left: 15px;
  font-size: 12px;
 }
 .banner-headlines .description{
  padding-left: 15px;
  padding-top: 5px;
  font-size: 10px;
}
.banner-image figure img{
  width: 100%;
  height: 198px;
}
/*--news-articles section--*/
.news-articles{
  margin-top: 10px;
  width: 65%;
  margin-left:9%;
  padding-bottom: 20px;
 
}
.news-articles .wrapper{ display:flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #70728E; }

.articles{
  display:flex;
  flex-basis:23.3%;
}

.articles li {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 2px;
  border-right: 1px solid grey;
  align-items:left;
}

.articles li:nth-child(3){border-right: 0px;}

.articles li p{
  font-size: 11px;
  padding-top: 5px;
}

.articles li figure {width:208px;}

.articles li h4 a {
  text-decoration: none;
  color: #1a3467;
  font-size: 12px;
  padding-top:12px
}
.articles li h2 a ,
.videos li h3 a {
  padding-top: 12px;
  color: #1563AE;
  font-size: 16px;
}
.articles li span{
  font-size: 12px;
}

/* --video section start--*/
.video-section {
  display: flex;
  width: 68%;
  margin-left: 9%;
  
  padding-bottom: 15px;
}
.video-section .wrapper{
  padding-bottom: 20px;
  border-bottom: 1px solid #70728E;
}
.video-section .wrapper h2{
  padding-top: 15px;
  color: #0F4f91;
  font-size: 22px;
  padding-bottom: 15px;
  font-family: 'Times New Roman', sans-serif;
}
.video-gallery .videos{
  display: flex;
  justify-content:center;
}
.videos li {
  padding-right: 10px;
}
video {
  width:99%;
}
.videos h4 a{
  font-size: 12px;
  color:#1a3467 ;
}
.videos span {padding-left: 4px;}
/*--news article --*/
.news {
  width: 70%;
  margin-left: 7%;
  padding-bottom: 20px;
}
.news .wrapper {
  display: flex;
  
}
.news .wrapper .news-container-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.news-container-item li {
  width: 28%;
  height: 170px;
  margin-bottom: 20px;
  
}
.news-container-item li h4{
  font-size: 12px;
  color:#1a3467 ;
}
.news-container-item li h3{
  color: #0F4f91;
  font-size: 15px;
  padding-top: 10px;
  letter-spacing: 1px;
}
.news-container-item span{
  font-size: 11px;
  color: #666;
}
.news-container-item p{
  font-size: 10px;
  color:#817E80;
  padding-top: 10px;
  margin-right:5% ;
}
.news-container-item li:nth-child(even){
  padding-left: 14px;
  border-left: 1px solid #d4dfeb;
}
.news-container-item li:nth-child(odd){
  padding-left: 14px;
  border-left: 1px solid #d4dfeb;
}

.news .show-btn {
  text-align: center;
}
.news .show-btn a{
  text-decoration: none;
  color: white;
  border: 1px solid #218fd4;
  background: #218fd4;
  font-size: 12px;
  padding: 10px 32px 10px 32px;
}
.show-btn a:hover{
  font-size: 13px;
  background-color:#218fd4 ;
  opacity: 0.8;
}

aside {
  width:30%;
 /* float:right;*/
  position: absolute;
  top:27%;
  right: 1%;
  margin-left: 1%;
}

.newsletter .wrapper {
 border: 1px solid #105091;
 margin-left: 6%;
 width: 60%;
 padding: 10px;
 background-image: linear-gradient(to right ,#1a3467,#1a3467,#1a3467,#269FE3);
}
.newsletter h2{
  padding: 10px 0px 10px;
  font-size: 16px;
  color: aliceblue;
}
.newsletter .wrapper a{
  text-decoration: none;
  font-size: 11px;
  border: 1px solid #269FE3 ;
  background-color: #269FE3;
  padding: 10px 30px 10px 30px;
  text-align: center;
  margin-left: 7%;
  color: aliceblue;
  font-weight: bold;
  
}
.most-viewed-news {
  margin-top: 15px;
  
}
.most-viewed-news .wrapper{
  margin-left: 6%;
  width: 66%;
  border: 1px solid #b5bec6;
}
.most-viewed-news .wrapper h2{
  padding: 10px 10px 10px;
  color: aliceblue;
  background-color:#105091;
}


.most-viewed-news-list .news-item li{
  padding: 15px 0px 5px 10px;
  border-bottom: 1px solid gray;
  margin-left: 5%;
  margin-right: 5%;
}

.news-item li:nth-child(4) {
  border-bottom: 0px;
  padding-bottom: 15px;
}

.news-item li h4{
  font-size: 12px;
  color:#1a3467;
 
}
.news-item li h3 a {
  color: #0F4f91;
  font-size: 15px;
  padding-top: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 10px;
}
.news-item span {
  padding-top: 15px;
  font-size: 12px;
  color: #666;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  display: flex;
}
footer .wrapper{width: 100%;}
footer .footer-top {
  display: flex;
  background-image:linear-gradient(to left,#135CA6,#0E4E8F,#133F79,#19366A,#1D3161);
  justify-content: space-evenly;
  padding: 31px 50px 55px 20px;
}
.footer-top .links{
  padding-top: 5px;
}
.footer-top .links li{
  display: block;
}
.footer-top ul li a{
  color: aliceblue;
  font-size: 12px;
  opacity: 0.8;
}
.links h2 , 
.social-links h2
{
  color: aliceblue;
  font-size: 14px;
  opacity: 0.9;
  padding-bottom: 10px;
}
.links li a:hover{color: gold;}

.social-links ul li::before {
  content: "  ";
 font-family: "fontAwesome";
 text-indent: 0;
 color: #218fd4;
 border: 2px solid #fff;
 background-color: #fff;
 padding: 5px;
 border-radius: 50%;
}

.social-links ul li { color: #fff;}
.social-links ul li:nth-child(1)::before{content: "\f0e1";}

.social-links ul li:nth-child(2)::before{content: "\f099";}

.social-links ul li:nth-child(3)::before{
  content: "\f167"; 
  color: red;}

.social-links ul li:nth-child(4)::before{content: "\f39e";}

.social-links a{text-indent: -999999px;}
.flexbox-container {
  display: flex;
  justify-content: space-around;
  background-image:linear-gradient(to left,#16274e,#0e3462,#0a4076,#0c4882);
  padding-top: 5px;
  padding-bottom: 10px;
}
.flexbox-container ul li a:hover{color:gold}
.flexbox-container ul li a , .flexbox-container span {
  color: #fff;
  font-size: 10px;
  opacity: 0.7;
}
.flexbox-container span{padding-top: 5px;}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1920px) {
  .wrapper {max-width:1920px;}

  .banner .wrapper{width:100%;}

  aside {
    width:30%;
  position: absolute;
  top:27%;
  right: 1%;
  margin-left: 1%;
}

}
@media only screen and (max-width: 1440px) {
  aside {
    width: 30%;
    position: absolute;
    top: 17%;
    right: 1%;
    margin-left: 1%;
}
.banner {width: 55%;}
.articles li {
  padding-right: 20px;
  padding-left: 20px;
}
}
@media only screen and (max-width: 1280px) { 
  aside {
    width: 30%;
    position: absolute;
    top: 27.5%;
    left: 70%;
}
}
@media only screen and (max-width: 1210px){
  aside {
    width: 30%;
    position: absolute;
    top: 17%;
    left: 73%;
}
.video-section {
  display: flex;
  width: 70%;
 }
 .banner { width: 57%;}
}
@media only screen and (max-width: 1024px){
  .banner{
    width: 62%;
    margin-left: 11%;
  }
  .articles li {
    padding-right: 10px;
    padding-left: 10px;
}
.news-articles {
  margin-top: 10px;
  width: 45%;
  margin-left: 4%;
  padding-bottom: 20px
}
.video-section {
  display: flex;
  width: 75%;
  margin-left: 5%;
  padding-bottom: 15px;
}
aside{
  width: 30%;
  position: absolute;
  top: 17%;
  left: 73%;
}
}
@media only screen and (max-width: 1025px){
  .banner{
    margin-left: 5%;
    width: 69%;
}
.news-articles{margin-left: -1%;}
.video-section{
  margin-left: 2%;
  width: 78%;}
  
  .news{
    margin-left: 0%;
    width: 85%;
  } 
}
@media only screen and (max-width: 995px){
  .news-articles{
  margin-left: 2%;}
}
@media only screen and (max-width: 767px)
{
  .articles{
    border-right: none;}

  .articles ul li {
    border-right: none;
    border-bottom: 1px solid grey;
  }
  .articles ul li p{
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 767px){
  .header-bottom {
    padding-bottom: 20px;
  }
  .hamburger{
    text-indent: -99999px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger::after{
    content: "\f0c9";
    padding: 10px;
    display: flex;
    color: #fff;
    font-family: "fontawesome";
    font-size: 2rem;
    text-indent: 0;
  }
  .nav-links { display: none; }
  .hamburger:hover + .nav-links {
    position: absolute;
    top:11.5%;
    left:-21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:skyblue;
    width: 30%;
  }

 .nav-links li a{color: #fff;}

.nav-links li {margin: 2.5rem 0;}

}